* {
	box-sizing: border-box;
}

#chicken, #beef, #sushi{
	border: 1px solid black;
	margin: 9px;
	padding: 10px;
	float: left;
}

#chicken {
	background-color: yellow;
}

#beef {
	background-color: coral; 
}

#sushi {
	background-color: green;
}

.section-title {
	font-size: 1.25em;
	border: 1px solid black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	float: right;
	clear: left;
	margin-top: -11px;
	margin-right: -11px;
	margin-bottom: 5px;
}

.chicken-title {
	background-color: lightsalmon;
}

.beef-title {
	background-color: gray;
}

.sushi-title {
	background-color: lightskyblue;
}
h1 {
	clear: both;
	text-align: center;
	margin: 50px;
	font-family: Garamond;
	/*font-size: 1.75em;*/
}

p {
	margin-top: 25px;
	margin-bottom: 5px;
}

@media (min-width: 992px) {
	#chicken, #beef, #sushi {
		width: 31%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#chicken, #beef {
		width: 47%;
	}
	#sushi {
		width: 96%;
	}
}
