* {
	box-sizing: border-box;
}

#chicken,#beef,#sushi{
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	float: left;
}

#chicken {
	background-color: yellow;
}

#beef {
	background-color: coral; 
}

#sushi {
	background-color: green;
}

.section-title {
	border: 1px solid black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	float: right;
	clear: left;
	margin-top: -11px;
	margin-right: -11px;
}

h1 {
	clear: both;
}

@media (min-width: 1200px) {
	#chicken, #beef, #sushi {
		width: 30%;
	}
}